<div class="container" style="margin-top: 5px">
  <div class="alert alert-danger" role="alert">
  <strong>Dummy Page</strong> This from is only for demo.
</div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Bug us</h1>
            <p class="lead">We love hearing from you. Send us any query or suggestion. We will try our best to reach out to you as soon as
                possible.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form >
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" ng-model="feed.email" id="exampleInputEmail1" required aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" ng-model="feed.name" required aria-describedby="nameHelp" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="website">Your website</label>
                    <input type="text" class="form-control" ng-model="feed.website"  id="website" aria-describedby="websiteHelp" placeholder="Your website">
                </div>
                  <div class="form-check">
                    <label class="form-check-label">
                    <input ng-model="feed.subscribe"  type="checkbox" class="form-check-input">
                    Subscribe Newsletter
                    </label>
                 <small class="form-text text-muted">We are good people. We will never spam your email.</small>

                </div>
                <div class="form-group">
                    <label for="message">Your message</label>
                    <textarea type="text" class="form-control" ng-model="feed.message" required id="message" aria-describedby="messageHelp" placeholder="Your message"></textarea>
                    <small id="messageHelp" class="form-text text-muted">What's in your mind?</small>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <hr class="my-4">
        <br>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Or contact us by</h2>
                </div>
                <div class="card-block">
                    <div class="row justify-content-center">
                        <div class="">
                            <a href="" target="_blank"><button class="btn btn-lg btn-primary" href="https://www.facebook.com/NicknetVideos"><i class="fa fa-facebook"></i></button></a>
                            <a href="" target="_blank"><button class="btn btn-lg btn-primary"><i class="fa fa-twitter"></i></button></a>
                            <a href="" target="_blank"> <button class="btn btn-lg btn-danger"><i class="fa fa-google-plus"></i></button></a>
                            <a href="" target="_blank"><button class="btn btn-lg btn-danger"><i class="fa fa-youtube-play"></i></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--row-->
</div>