<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: auto; margin:0.2pc 1.5em 0.2pc 1.5em">
                <img class="card-img-top" height="180px" style="max-width: 100%" ng-src="../includes/images/shimg.png" alt="{{card.title}}">
                <div class="card-block">

                    <h4 class="card-title">{{teaminfo.name}}</h4>
                </div>

            </div>
    </div>

    <div class="col-md-6">
          here {{test | json}}
          count{{count}}
    </div>

    <div class="col-md-3">
        <div class="card" style="width: auto; margin:0.2pc 1.5em 0.2pc 1.5em">
                <img class="card-img-top" height="180px" style="max-width: 100%" ng-src="../includes/images/rcbimg.jpg" alt="{{card.title}}">
                <div class="card-block">

                    <h4 class="card-title">{{teaminfo.name}}</h4>
                </div>

            </div>
    </div>

</div>